   .container{
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        grid-template-rows: 1fr 3em 2fr 2em;
        grid-template-areas:
        "header header header"
        "menu menu menu"
        "content content aside"
        "footer footer footer";
        max-width: 1000px;
        height: 1000px;
        margin: auto;
    }

    .box1{
        grid-area: header;
    }
    .box2{
        grid-area: menu;
    }
    .box3{
        grid-area: content;
    }
    .box4{
        grid-area: aside;
    }
    .box5{
        grid-area: footer;
    }
    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        list-style-type:none
      }
      
    
    @media screen and (max-width: 600px){
        .container{
            Grid-template-columns:4fr 3fr;
            grid-template-rows: repeat(4, 1fr);
            grid-template-areas:
           "menu     menu"
            "header header "
           "content content"
           "aside   footer" 
         }
    }