body{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.item {
    padding: 1rem;
    text-align: center;

}

a{
    color: #376800;
}

.box1 {
    background-color: #b46ae3;
}

.box2 {
    background-color: #eeeeee;
}

.box3 {
    background-color: #70bf40;
}

.box4 {
    background-color: #f49018;
}

.box5 {
    background-color: #0265c0;
}