.container{
    display: flex;
    flex-direction: column;
}

.menu{
    display: flex;
    flex-direction: horizontal;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu-item {
    list-style-type: none;
    border: inset thin red;
    flex: 1;
    padding: 1rem;
}

.menu-item:hover{
    flex: 2;
    transition: flex 1s;    
}

.menu-item{
    order: 2;
}

.item6{
    order: 1;
}

.content-area{
    display:flex;
    flex-direction: row;
}

.box3{
    height: 850px;
    flex: 2;
    display: flex;
    flex-flow: column wrap;

}

.mason{
    width:200px;
    border: outset thick blue;
    margin: 1rem;
    align-content: space-between;
}

.mason-tall{
    height: 225px;
}

.mason-short{
    height:150px
}

.box4{
    flex: 1;
}